/* Root pseudoclass custom properties: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    /* Website Color Scheme */
    --clr-primary: rgb(201, 69, 98);
    --clr-secondary: rgba(23, 23, 34, 1);

    --clr-neutral-white: rgba(246, 242, 233, 1);
    --clr-neutral-black: rgba(25, 25, 25, 1);
    --clr-neutral-grey: rgba(88, 89, 90, 1);

    --fontfamily-primary: 'Poppins', Arial, Helvetica, sans-serif;
    --fontfamily-title: 'Fredoka One', cursive;
    

    --fontweight-thin: 200;
    --fontweight-normal: 400;
    --fontweight-bold: 600;
    --fontweight-heavy: 800;

    --fontsize-small: 0.7rem;
    --fontsize-normal: 0.7rem;
    --fontsize-large: 1rem;
    --fontsize-title: 2.5rem;
}

/* Macro choices */
body {
    /* SIZE */
    max-width: 1000px;
    /* PADDING & MARGINS */
    padding: 2rem 2rem;
    margin: 0 auto;
    /* FONTS */
    font-family: var(--fontfamily-primary);
    font-size: var(--fontsize-normal);
}

#title { 
    font-family: var(--fontfamily-title); 
    font-size: var(--fontsize-title);
    text-align: center; 
    margin-bottom: 2rem;
}

#subtitle {
    font-size: var(--fontsize-large);
}

.hidden-content { display: none; }

/* COMPOSITION: Macrolevel design choises that defines the skeleton of the webpage and basic composition within components */
/* Component Layout choices */
.container {
    /* border: 2px solid red; */
    margin: 2rem -1rem;
}

.card { 
    padding: 0 1rem 0 0;
    margin: 1.5rem 1rem;

    width: calc(100% / 3 - 2rem);

    border-radius: 10px;
/* 
    border: 2px solid yellow; */
}
	
.card__img {
    max-width: 38%;

    border-radius: 10px 0 0 10px;
}

.card > .float {
    margin-right: 0.7rem;
}

.card div {
    margin: 1rem 0;
}

.card div > * {
    margin: 0.3rem 0;
}

/* UTILITIES: One job, done well. It performs one logical job: formatting, design, shape, font and element colours  */
.container__card {
    background-color: var(--clr-secondary);
    color: var(--clr-neutral-white);
}

.float {
    float: left;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* Color schemes divided into scalable Design Tokens: allows to apply a specific set of colours without repetition */
.background-primary { background-color: var(--clr-neutral-white); }

.background-secondary { background-color: var(--clr-secondary); }

.text-color-primary { color: var(--clr-primary); }

.text-color-secondary {  color: var(--clr-neutral-white); }

.text-color-neutral { color: var(--clr-neutral-grey); }


/* BLOCKS: component specific rules */

/* EXCEPTIONS: variations to a block */
