/* Root pseudoclass custom properties: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    /* Website Color Scheme */
    --clr-primary: rgb(201, 69, 98);
    --clr-secondary: rgba(23, 23, 34, 1);

    --clr-neutral-white: rgba(246, 242, 233, 1);
    --clr-neutral-black: rgba(25, 25, 25, 1);
    --clr-neutral-grey: rgba(192, 194, 196, 0.6);

    --fontfamily-primary: 'Poppins', Arial, Helvetica, sans-serif;
    --fontfamily-title: 'Fredoka One', cursive;
    

    --fontweight-thin: 200;
    --fontweight-normal: 400;
    --fontweight-bold: 600;
    --fontweight-heavy: 800;

    --fontsize-small: 0.7rem;
    --fontsize-normal: 0.7rem;
    --fontsize-large: 1rem;
    --fontsize-title: 3rem;

    --flow-margin: 2rem;
}

/* Macro choices */
.container {
    /* SIZE */
    max-width: 900px;
    margin: 0 auto;

    /* FONTS */
    font-family: var(--fontfamily-primary);
    font-size: var(--fontsize-normal);
}

#title { 
    font-family: var(--fontfamily-title); 
    font-size: var(--fontsize-title);
    text-align: center; 
}

#subtitle {
    font-size: var(--fontsize-large);
    text-align: center;
}

.hidden-content { display: none; }

/* COMPOSITION: Macrolevel design choises that defines the skeleton of the webpage and basic composition within components */
/* Component Layout choices */
.card-container {
    /* border: 2px solid red; */
    margin: 2rem -1rem;
}

.card { 
    margin: 1.5rem 1rem;
    width: calc(100% / 3 - 2rem);

    border-radius: 10px;
/*  border: 2px solid yellow; */
}
	
.card__img {
    max-width: 38%;
    margin-right: 0.7rem;

    border-radius: 10px 0 0 10px; /* Rounds the left borders of the image to match the card's border shape*/
}

/* .card section { padding: 1rem 0; } Adds some space at the top and bottom of each section */
.card section { padding: 0.5rem 0; }

.card section > * { margin: 0.3rem 0; } /* Adds spacing between the children elements of the section within the card */

.card__member { font-size: var(--fontsize-large); }


/* UTILITIES: One job, done well. It performs one logical job: formatting, design, shape, font and element colours  */
.container__element {
    background-color: var(--clr-secondary);
    color: var(--clr-neutral-white);
}

.member-email { text-decoration: none;}

.member-email:hover { color: var(--clr-primary); text-decoration: underline;}

.float { float: left; } /* adds the float property */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
} /* fixes float issues */

.flow-margin { margin: var(--flow-margin) 0; } /* adds some simple padding on top */

.element-shadow { box-shadow: 3px 2.5px 4px var(--clr-neutral-grey); } /* creates a small shadow*/

.large-font { font-size: var(--fontsize-large);}

/* Color schemes divided into scalable Design Tokens: allows to apply a specific set of colours without repetition */
.background-primary { background-color: var(--clr-neutral-white); }

.background-secondary { background-color: var(--clr-secondary); }

.text-color-primary { color: var(--clr-primary); }

.text-color-secondary {  color: var(--clr-neutral-white); }

.text-color-neutral { color: var(--clr-neutral-grey); }

/* BLOCKS: component specific rules */

/* EXCEPTIONS: variations to a block */
.card:hover {
    box-shadow: 0 0 4px 5px var(--clr-primary);
}